name: Build & test

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  linux:
    uses: przemek83/workflows/.github/workflows/build-and-test-cpp.yml@main
    with:
      platform: ubuntu-latest
      dependencies-linux: "libgl1-mesa-dev libxcursor-dev"

  windows:
    uses: przemek83/workflows/.github/workflows/build-and-test-cpp.yml@main
    with:
      platform: windows-latest